<table width="100%" style="width:100%;mso-cellspacing:0cm;mso-yfti-tbllook:1184">
    <tbody>
    <tr style="mso-yfti-irow:0;mso-yfti-firstrow:yes">
        <td nowrap="" style="background:#1A237E;padding:3.0pt 6.0pt 6.0pt 12.0pt">
            <p class="MsoNormal">
                <b><span
                        style='font-size:13.5pt;font-family:"Segoe UI",sans-serif;mso-fareast-font-family:"Times New Roman";color:white'>Makves DCAP:</span></b>
                <span style='font-size:13.5pt;font-family:"Segoe UI";,sans-serif;mso-fareast-font-family:"Times New Roman";color:white'>&nbsp;{{title}}
                    <o:p></o:p>
                </span>
            </p>
        </td>
    </tr>
    </tbody>
</table>

<table class="table table-responsive">
    <thead>
    <tr>
        <th style="background:#BBDEFB;padding:3.0pt 12.0pt 4.5pt 12.0pt;color:#1A237E">Имя</th>
            <th style="background:#BBDEFB;padding:3.0pt 12.0pt 4.5pt 12.0pt;color:#1A237E">IP-адрес</th>
            <th style="background:#BBDEFB;padding:3.0pt 12.0pt 4.5pt 12.0pt;color:#1A237E">Операционная система</th>
        <th style="background:#BBDEFB;padding:3.0pt 12.0pt 4.5pt 12.0pt;color:#1A237E">Риск-фактор</th>
        <th style="width:30.0%;background:#BBDEFB; padding:3.0pt 12.0pt 4.5pt 12.0pt;color:#1A237E">Детали</th>
    </tr>
    </thead>
    <tbody>
    {{#items}}
        <tr>
            <td style='font-size: 10.0pt;font-family:"Segoe UI Semibold",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>{{cn}}</td>
            <td style='font-size: 10.0pt;font-family:"Segoe UI Semibold",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>{{ipv4_address}}</td>
            <td style='font-size: 10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>{{perating_system_version}}</td>
            <td style='font-size: 10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>
                <span style='font-size:10.0pt;font-family:"Segoe UI Semibold",sans-serif;color:{{score_color}}'>■&nbsp;</span>
                {{score}}
            </td>
            <td style='font-size: 10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>
                {{#flag_disabled}}
                    <span style='font-size:10.0pt;font-family:"Segoe UI Semibold",sans-serif'>
                        <span style='font-size:10.0pt;font-family:"Segoe UI Semibold",sans-serif;color:red'>●</span>
                        Отключен&nbsp;</span>
                {{/flag_disabled}}
                {{#events_counter}}
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>Событий:&nbsp;<span
                            style='font-family:"Segoe UI Semibold"'>{{events_counter}}</span>&nbsp;</span>
                {{/events_counter}}
                {{#count_profiles}}
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>Профилей:&nbsp;<span
                            style='font-family:"Segoe UI Semibold"'>{{count_profiles}}</span>&nbsp;</span>
                {{/count_profiles}}
                {{#count_licenses}}
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>Лицензий:&nbsp;<span
                            style='font-family:"Segoe UI Semibold"'>{{count_licenses}}</span>&nbsp;</span>
                {{/count_licenses}}
                {{#count_applications}}
                    <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;padding:0cm 12.0pt 0cm 12.0pt'>Приложений:&nbsp;<span
                            style='font-family:"Segoe UI Semibold"'>{{count_applications}}</span>&nbsp;</span>
                {{/count_applications}}
            </td>
        </tr>
        <tr style="mso-yfti-irow:10">
            <td style="padding:0cm 0cm 0cm 0cm" colspan="11">
                <hr size="1" width="100%" noshade="" style="color:#D8D8D8" align="center">
            </td>
        </tr>
    {{/items}}
</table>

<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%">
    <tbody>
    <tr>
        <td style="background:white;padding:0cm" >
            <div align="center" style="text-align:center">
                <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;color:black'>
                    <hr size="1" width="100%" noshade="" style="color:#1171B7">
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td style="background:white;padding:0cm 12.0pt 0cm 12.0pt">
            <span style='font-size:10.0pt;font-family:"Segoe UI",sans-serif;color:black'>Отчет создан {{report_time}}</span>
        </td>
    </tr>
    </tbody>
</table>



